<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loyalty_program>
            <general>
                <enable>0</enable>
                <purchase_percent>10</purchase_percent>
                <show_message>0</show_message>
            </general>
        </loyalty_program>
    </default>
</config>
