<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loyalty_program>
            <general>
                <enable>0</enable>
                <purchase_percent>10</purchase_percent>
                <show_message>1</show_message>
            </general>
        </loyalty_program>
        <payment>
            <max_coins>
                <title>Coins Payment Method</title>
                <active>1</active>
                <model>CoinsFacade</model>
                <order_status>pending</order_status>
                <can_use_checkout>1</can_use_checkout>
                <group>offline</group>
            </max_coins>
        </payment>
    </default>
</config>
